<h2 mat-dialog-title>API Settings</h2>
<mat-dialog-content class="form-vertical">
  <mat-form-field appearance="fill">
    <mat-label>Grocy URL</mat-label>
    <input matInput [formControl]="urlControl">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>API key</mat-label>
    <input matInput [formControl]="apiKeyControl">
  </mat-form-field>

  <div><a href="https://nl.vecteezy.com/gratis-vector/mand">App icon by Vecteezy</a></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveSettings()">Save</button>
</mat-dialog-actions>

