<div *ngIf="item">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput disabled [(ngModel)]="item.id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="item.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="item.description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select [(value)]="item.location_id">
      <mat-option *ngFor="let loc of locations" value="{{loc.id}}" >{{loc.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit of purchase</mat-label>
    <mat-select [(value)]="item.qu_id_purchase">
      <mat-option *ngFor="let qu of quantityUnits" value="{{qu.id}}" >{{qu.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unit of stock</mat-label>
    <mat-select [(value)]="item.qu_id_stock">
      <mat-option *ngFor="let qu of quantityUnits" value="{{qu.id}}" >{{qu.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button class="btn btn-primary" (click)="save()" i18n="@@actionSave">Save</button>

  <div>JumboId: {{item.userfields.jumboId}}</div>
</div>

<div *ngIf="item && item.picture_file_name">
  <img src="{{getFileUrl(item.picture_file_name)}}" alt="image"/>
</div>

<button mat-stroked-button (click)="updateGrocyProduct()">Update Grocy with Jumbo product information</button>
<mat-list>
  <mat-list-item *ngFor="let code of barcodes">
    <mat-icon mat-list-icon>qr_code_2</mat-icon>
    <div mat-line>{{code.barcode}}</div>
  </mat-list-item>
</mat-list>
<mat-tab-group>
  <mat-tab *ngFor="let product of products" label="{{product.title}}">
   <app-jumbo-product [product]="item" [jumboProductId]="product.id"></app-jumbo-product>
  </mat-tab>
</mat-tab-group>
