<div *ngIf="item">

  <div class="recipe-view-container">
    <div class="recipe-view-header">
      <div class="recipe-view-image" *ngIf="item.picture_file_name"
           [ngStyle]="{'background-image': 'url(' + (item.picture_file_name | grocyImage:'recipepictures') + ')'}">
      </div>
      <div class="recipe-view-summary">
        <h1>{{item.name}}</h1>

        <div class="servings-container">
          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Servings</mat-label>
            <input matInput type="number" class="input-right-align" placeholder="0" [(ngModel)]="item.desired_servings">
            <span matTextPrefix><mat-icon>person</mat-icon>&nbsp;</span>
          </mat-form-field>

        </div>
      </div>
    </div>
    <div class="recipe-view-details">
      <app-ingredient-view-list [recipe]="item" class="recipe-view-ingredients"></app-ingredient-view-list>
      <div class="recipe-view-description">
        <h2>Description</h2>
        <div [innerHTML]="item.description"></div>
      </div>
    </div>
  </div>


</div>
