<div *ngIf="item">

  <div class="recipe-view-container">
    <div class="recipe-view-header">
      <div class="recipe-view-image">
        <img *ngIf="item.picture_file_name" src="{{item.picture_file_name | grocyImage:'recipepictures'}}" height="300px">
      </div>
      <div class="recipe-view-summary">
        <h1>{{item.name}}</h1>
        <p>more summary</p>
        <dl>
          <dt>servings</dt>
          <dd>{{item.base_servings}}</dd>
          <dt>desired servings</dt>
          <dd>{{item.desired_servings}}</dd>
        </dl>
      </div>
    </div>
    <div class="recipe-view-details">
      <app-ingredient-view-list [recipeId]="item.id" class="recipe-view-ingredients"></app-ingredient-view-list>
      <div class="recipe-view-description">
        <h2>Description</h2>
        <p [innerHTML]="item.description"></p>
      </div>
    </div>
  </div>


</div>
