
<app-note-mealplan-item *ngIf="mealplan && mealplan.type=='note'" [mealplan]="mealplan" (refreshEvent)="triggerRefreshEvent()"> </app-note-mealplan-item>
<app-recipe-mealplan-item *ngIf="mealplan && mealplan.type=='recipe' && mealplan.recipe_id" [mealplan]="mealplan" (refreshEvent)="triggerRefreshEvent()"></app-recipe-mealplan-item>
<app-product-mealplan-item *ngIf="mealplan && mealplan.type=='product' && mealplan.product_id" [mealplan]="mealplan" (refreshEvent)="triggerRefreshEvent()"></app-product-mealplan-item>

