
.mealplan-card {
  width: 100%;
  margin-bottom: 5px;
  mat-card-header {
    min-height: 64px;
  }

  .mealplan-card-image-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
  }
}
