.shopping-list-item {
  display: flex;
  border-bottom: 1px solid #999999;
  width: 100%;
  .shopping-item-check {
    margin-top: 4px;
  }
  .actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .note {
    font-size: smaller;
    padding-left: 4px;
  }
  .info-container {
    width: 100%;
    padding-top: 8px;
    display: flex;
    .done-status {
      padding-top: 4px;
    }
    .shopping-item-info {
      padding-left: 8px;
    }
    .title-row {
      display: flex;
      .product-name {
        font-weight: bold;
        font-size: larger;
        padding: 4px;
      }
    }
    .amount {
      padding: 4px;
    }

    &.editable {
      max-width: 600px;
      .shopping-item-info {
        display: flex;
        flex-wrap: wrap;
        .field-product {
          flex-grow: 2;
        }
        .field-amount {
          flex-grow: 0;
          max-width: 80px;
        }
      }
      .field-note {
        width: 100%;
      }
      mat-mdc-form-field {
        width: 100%;
      }
    }
  }
  &.dense .shopping-item-info {
    display: flex;
    .title-row {

    }
    .amount {

    }
    span {
      line-height: 24px;
    }
  }
}
