<div class="search-form">
  <mat-form-field>
    <mat-label>Source</mat-label>
    <mat-select [(value)]="selectedProvider" (selectionChange)="changeSource()">
      <mat-option *ngFor="let provider of providers" [value]="provider">{{provider.getName()}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Searchterm</mat-label>
    <input matInput type="text" [(ngModel)]="query" (keyup.enter)="searchRecipe()">
    <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button (click)="searchRecipe()" color="primary">Search
    <mat-icon>search</mat-icon>
  </button>
</div>
<div class="results-container">
  <app-recipe-overview-item *ngFor="let item of results" [recipe]="item"  [nextDate]="getNextScheduleDay(item)" (navigateEvent)="navigateTo(item)"></app-recipe-overview-item>
</div>
<mat-paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="handlePageEvent($event)" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
