.mealplan-card {
  width: 100%;
  margin-bottom: 3px;
  mat-card-header {
    min-height: 64px;
  }
}
.mealplan-card.editable .mat-mdc-card-header {
  padding: 2px;
  .mealplan-form-field {
    width: 100%;
  }
}
