<mat-card *ngIf="!editMode" class="mealplan-card" cdkDrag [cdkDragData]="mealplan">
  <mat-card-header>
    <mat-card-title >{{mealplan.note}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Edit" (click)="setEditMode(true)"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button matTooltip="Delete" (click)="delete()"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="editMode" class="mealplan-card editable">
  <mat-card-header>
    <mat-card-title >
      <mat-form-field class="field-amount" appearance="fill">
        <mat-label>Note</mat-label>
        <textarea matInput [formControl]="noteControl"></textarea>
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button matTooltip="Save" (click)="save()"><mat-icon>save</mat-icon></button>
    <button mat-icon-button matTooltip="Cancel" (click)="cancel()"><mat-icon>cancel</mat-icon></button>
    <div class="drag-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </mat-card-actions>
</mat-card>
