<app-alert></app-alert>
<div class="header" role="header">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="openScanDialog()" aria-label="Open scan dialog"><mat-icon>qr_code_scanner</mat-icon></button>
    <button mat-button routerLink="/">Homepage</button>
    <button mat-button routerLink="/mealplan">Mealplan</button>
    <button mat-button [matMenuTriggerFor]="masterdata">Masterdata</button>
    <mat-menu #masterdata="matMenu">
      <button mat-menu-item routerLink="/masterdata/locations">Locations</button>
      <button mat-menu-item routerLink="/masterdata/stocklocations">Stocklocations</button>
      <button mat-menu-item routerLink="/masterdata/shoppinglocations">Shops</button>
      <button mat-menu-item routerLink="/masterdata/products">Products</button>
      <button mat-menu-item routerLink="/masterdata/productgroups">Productgroups</button>
      <button mat-menu-item routerLink="/masterdata/quantityunits">Quantityunits</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="jumbo">Jumbo</button>
    <mat-menu #jumbo="matMenu">
      <button mat-menu-item routerLink="/jumbo/recipes">Recipes</button>
      <button mat-menu-item routerLink="/jumbo/maintenance">Maintenance</button>
    </mat-menu>
    <span class="menu-spacer"></span>
    <app-system-status></app-system-status>
    <button mat-icon-button (click)="openApiSettingsDialog()" aria-label="Open API Settings dialog"><mat-icon>account_circle</mat-icon></button>
  </mat-toolbar>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
