
<div class="header" role="header">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="openScanDialog()" aria-label="Open scan dialog"><mat-icon>qr_code_scanner</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="masterdata">Masterdata</button>
    <mat-menu #masterdata="matMenu">
      <button mat-button routerLink="/masterdata/locations">Locations</button>
      <button mat-button routerLink="/masterdata/stocklocations">Stocklocations</button>
      <button mat-button routerLink="/masterdata/shoppinglocations">Shops</button>
      <button mat-button routerLink="/masterdata/products">Products</button>
      <button mat-button routerLink="/masterdata/productgroups">Productgroups</button>
      <button mat-button routerLink="/masterdata/quantityunits">Quantityunits</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="jumbo">Jumbo</button>
    <mat-menu #jumbo="matMenu">
      <button mat-button routerLink="/jumbo/recipes">Recipes</button>
    </mat-menu>
  </mat-toolbar>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
