
<div class="content" role="main">
  <mat-toolbar color="primary">
    <button  mat-button routerLink="/masterdata/locations">Locations</button>
    <button  mat-button routerLink="/masterdata/stocklocations">Stocklocations</button>
    <button  mat-button routerLink="/masterdata/shoppinglocations">Shops</button>
    <button  mat-button routerLink="/masterdata/products">Products</button>
    <button  mat-button routerLink="/masterdata/quantityunits">Quantityunits</button>
  </mat-toolbar>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
