.mealplan-day {
  background-color: #eee;
  padding: 2px;
  .mat-mdc-card-content {
    padding: 0;
  }
}

//@media only screen and (max-width: 768px) {
@media (max-width: 768px) {
  /* For mobile phones: */
  .mealplan-day {
    width: 100%;
  }
}
