.mealplan-navigation-group {
  display: flex;
  .mat-mdc-form-field {
    max-width: 80px;
  }
  .buttons {
    padding-top: 4px;
  }

}

.mealplan-day-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  div {
    flex-grow: 1;
    flex-shrink: 0;
    width: 14%;
    padding: 2px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
