.mealplan-day-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  div {
    flex-grow: 1;
    flex-shrink: 1;
    width: 14%;
    min-width: 235px;
    padding: 2px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
