<h1>Shopping lists</h1>

<mat-card>
  <mat-card-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Name of shopping list" [(ngModel)]="newName">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="newName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addNewItem()" [disabled]="newName==''">Add</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <app-shopping-lists-item *ngFor="let item of items" [item]="item" (deletedEvent)="onDelete($event)"></app-shopping-lists-item>
  </mat-card-content>
</mat-card>
