<mat-list-option *ngIf="product && ingredient && quantityunit">
  <mat-icon matListItemIcon>egg</mat-icon>
  <span matListItemTitle>
    <span>{{product.name}}</span>
  </span>
  <span matListItemLine><span *ngIf="ingredient.amount">{{ingredient.amount * factor | number }}</span>&nbsp;
    <span *ngIf="ingredient.amount==1">{{quantityunit.name}}</span>
    <span *ngIf="ingredient.amount!=1">{{quantityunit.name_plural}}</span>&nbsp;</span>
  <span matListItemLine *ngIf="ingredient.note">{{ingredient.note}}</span>
</mat-list-option>
